@{
    ViewData["Title"] = "Cambiar Contrasenia";
}

<h1 class="mb-3">Cambiar Contraseña</h1>

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<form asp-action="CambiarPassword">
    <div class="form-floating mb-3">
        <input name="actualPassword" type="text" class="form-control" placeholder>
        <label for="floatingInputInvalid">Contraseña Actual</label>
    </div>
    <div class="form-floating mb-3">
        <input name="newPassword" type="text" class="form-control" placeholder>
        <label for="floatingInputInvalid">Nueva Contraseña</label>
    </div>
    <input type="submit" value="Cambiar" class="btn btn-primary w-100" />
</form>