@using MVC.Models.Usuario
@model UsuarioViewModel

@{
    ViewData["Title"] = "Create";
}
@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-danger">@ViewBag.Mensaje</h5>
}

<form asp-action="Login">
    <div class="form-floating mb-3">
        <input asp-for="Email" type="email" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">Nombre de Usuario</label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Password" type="email" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">Email</label>
    </div>
    <input type="submit" value="Login" class="btn btn-primary w-100" />
</form>