@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home Link -->
                        @if (Context.Session.GetString("Rol") == null || Context.Session.GetString("Rol") == "Cliente")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }

                        <!-- Iniciar Sesión Link (visible si el usuario no ha iniciado sesión) -->
                        @if (Context.Session.GetString("Rol") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
                            </li>
                        }

                        <!-- Link de Listado de Usuarios solo visible para Administradores -->
                        @if (Context.Session.GetString("Rol") != "Cliente" && Context.Session.GetString("Rol") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="AltaUsuario">Alta Usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Index">Listado de Usuarios</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Envio" asp-action="Index">Listado Envios</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Envio" asp-action="CrearEnvio">Nuevo Envio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Agencia" asp-action="Index">Listado Agencias</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Agencia" asp-action="AltaAgencia">Nueva Agencia</a>
                            </li>
                        }

                        @if (Context.Session.GetString("Rol") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Logout">Cerrar Sesion</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
