@using LogicaNegocio.EntidadesNegocio;
@using MVC.Models.Envio;
@model AltaEnvioViewModel;

@{
    ViewData["Title"] = "Nuevo Envio";
}

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<h1 class="mb-3">Nuevo Envio</h1>

<form asp-action="Create">
    
    @* <div class="form-floating mb-3">
        <input asp-for="NumeroTracking" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">NumeroTracking</label>
    </div>
 *@
    @* <div class="form-floating mb-3">
        <input asp-for="Estado" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">Estado</label>
    </div> *@

   @*  <div class="form-floating mb-3">
        <input asp-for="FuncionarioId" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">FuncionarioId</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="SeguimientoId" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">SeguimientoId</label>
    </div> *@

    <div class="form-floating mb-3">
        <input asp-for="TipoEnvio" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">TipoEnvio</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="EmailCliente" type="Email" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">EmailCliente</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="DireccionPostal" type="text" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">DireccionPostal</label>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="PesoPaquete" type="number" class="form-control" id="floatingInputInvalid" placeholder>
        <label for="floatingInputInvalid">PesoPaquete</label>
    </div>

    @* <div class="form-floating mb-3">
        <select asp-for="Estado" class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option value="">Seleccione Rol</option>
            @foreach (Estado item in Enum.GetValues(typeof(Estado)))
            {
                <option value="@item">@item</option>
            }
        </select>
        <label for="floatingSelect">Estado</label>
    </div> *@

    <input type="submit" value="Generar Envio" class="btn btn-primary w-100" />

</form>