@* <a href="CrearEnvio?tipoEnvio=0">Crear Envio Comun</a>
<a href="CrearEnvio?tipoEnvio=1">Crear Envio Urgente</a> *@

<a class="nav-link text-dark" asp-controller="Envio" asp-action="FormCrearComun">Nuevo Envio Comun</a>
<a class="nav-link text-dark" asp-controller="Envio" asp-action="FormCrearUrgente">Nuevo Envio Urgente</a>
