@{
    ViewData["Title"] = "Crear Envio";
}

@if (ViewBag.Mensaje != null)
{
    <h5 class="alert alert-success">@ViewBag.Mensaje</h5>
}
@if (ViewBag.MensajeError != null)
{
    <h5 class="alert alert-danger">@ViewBag.MensajeError</h5>
}

<a class="nav-link text-dark" asp-controller="Envio" asp-action="FormCrearEnvio" asp-route-type="Comun">Nuevo Envio Comun</a>
<a class="nav-link text-dark" asp-controller="Envio" asp-action="FormCrearEnvio" asp-route-type="Urgente">Nuevo Envio Urgente</a>